<main>
  <!-- Change background based on temperature: Hot if >= 15°C, Cold if < 15°C -->
  <div class="container" [ngClass]="{'hot': cityData?.weatherData?.hourly?.temperature_2m[cityData.weatherData.hourly.temperature_2m.length - 1] >= 15, 'cold': cityData?.weatherData?.hourly.temperature_2m[cityData.weatherData.hourly.temperature_2m.length - 1] < 15}">
    <div class="wrapper">

      <div class="header">
        <input (keyup)="onKeyUp($event)" type="text" name="city" placeholder="City"/>
        <i (click)="onClick()" class="fa-solid fa-magnifying-glass"></i>
      </div>

      <div class="error">
        <span *ngIf="error">{{errorText}}</span>
      </div>

      <div class="hero">
        <h1 *ngIf="cityData">{{cityData.name}}, {{cityData.country_code}}</h1>

        <h2 *ngIf="cityData?.weatherData?.hourly?.temperature_2m">
          <!-- Last hourly temperature record with unit suffix-->
          {{cityData.weatherData.currentTemperature}}{{cityData.weatherData.hourly_units.temperature_2m}} 
        </h2>

        <!-- Icon (Font-Awesome) based on weather code (https://open-meteo.com/en/docs#api_form | WMO)-->
        <div class="weather-icon">
          <i [ngClass]="getWeatherIcon(cityData?.weatherData?.currentWeatherCode)"></i>
        </div>

        <div class="day-temperatures">
          <!-- Min temperature of the day with unit suffix -->
          <div *ngIf="cityData?.weatherData?.daily?.temperature_2m_min" class="min">
            <i class="fa-solid fa-temperature-low"></i>
            Min: {{cityData?.weatherData?.daily?.temperature_2m_min[0]}}{{cityData.weatherData.daily_units.temperature_2m_min}} 
          </div>

          <!-- Max temperature of the day with unit suffix -->
          <div *ngIf="cityData?.weatherData?.daily?.temperature_2m_max" class="max">
            <i class="fa-solid fa-temperature-high"></i>
            Max: {{cityData?.weatherData?.daily?.temperature_2m_max[0]}}{{cityData.weatherData.daily_units.temperature_2m_max}} 
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
