.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 121, 255, 1);
    padding: 1em;
    color: white;

    &.hot {
        background: rgb(255, 255, 255);
        background: linear-gradient(180deg, #fff0a6 0%, #daedff 20%, #0079ff 100%);
    }

    &.cold {
        background: #949494;
        background: linear-gradient(166deg, #ffffff 0%, #3b6c9f 100%);
    }

    .wrapper {
        margin: auto;
        width: 100%;
        max-width: 500px;
        height: 100%;
        max-height: 700px;
        border-radius: 20px;
        box-shadow: 0px 0px 8Px 0px #00000054;
        display: flex;
        padding: 2em;
        align-items: center;
        flex-direction: column;
        text-shadow: 0 0 3px hwb(0deg 0% 100% / 33%);


        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            i {
                cursor: pointer;
                transition: 0.5s all;
                font-size: 1.25em;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }

        .error {
            color: red;
            font-size: 0.8em;
            font-weight: 500;
            height: 0.8em;
            width: 100%;
            text-align: center;
            margin: 1em;
            text-shadow: none;
        }

        .hero {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            h1 {
                font-size: 2rem;
                text-transform: uppercase;
                font-weight: 500;
            }

            h2 {
                font-size: 1.5em;
                text-transform: uppercase;
                font-weight: 500;
            }

            i {
                text-shadow: none;
            }

            .weather-icon {
                font-size: 3em;
                margin: 0.5em;

                .fa-sun {
                    color: yellow;
                }

                .fa-cloud {
                    color: gray;
                }

                .fa-cloud-showers-heavy {
                    color: #36a0ff;
                }

                .fa-snowflake {
                    color: white;
                }

                .fa-cloud-bolt {
                    color: lightsteelblue;
                }
            }

            
            .day-temperatures {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;

                .min {

                    i {
                        color: #0079ff;
                        font-size: 2em;
                    }
                }

                .max {

                    i {
                        font-size: 2em;
                        color: red;
                    }
                }
            }
        }
    }

    // SMALL DEVICES
    @media only screen and (max-width: 368px) {
        .wrapper {
            padding: 0.5em;
            text-align: center;

            .header {
                width: 100%;
            }

            .hero {
                h1 {
                    font-size: 8vw;
                }

                h2 {
                    font-size: 12vw;
                }

                .weather-icon {
                    font-size: 15vw;
                }

                .day-temperatures {
                    gap: 1em;
                    flex-direction: column;

                    .min, .max {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                    }
                }
            }
        }
    }
}